# Upload and Read CSV

In [ ]:
from google.colab import drive 
drive.mount('/content/gdrive')

import os
%cd /content/gdrive/My Drive/Kuliah/sem8/dmds

In [2]:
import numpy as np
import pandas as pd
import warnings

In [3]:
df_netflix=pd.read_csv("netflix_titles.csv")
df_disney=pd.read_csv("disney_plus_titles.csv")

In [ ]:
# display(df_netflix)
# display(df_disney)

# Add Column [Platform]

In [5]:
# Tambah kolom platform di tiap dataset
df_netflix['Platform'] = "Netflix"
df_disney['Platform'] = "Disney+"
df_netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Platform
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",Netflix
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",Netflix
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,Netflix
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",Netflix
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,Netflix

# Merge Netflix and Disney+ Datasets into 1 Dataset

In [6]:
# Merge 2 dataset menjadi 1 dan drop kolom yang tidak dibutuhkan
df = df_netflix.append(df_disney, ignore_index=True)
df = df.rename(columns={'show_id': 'Show ID',
                        'type': 'Show Type', 
                        'director': 'Director', 
                        'cast': 'Cast',
                        'type': 'Show Type',
                        'country':'Production Country', 
                        'date_added':'Date Added', 
                        'release_year':'Release Year', 
                        'rating':'Age Rating',
                        'duration': 'Duration',
                        'listed_in': 'Genres',
                        'description': 'Description'})

df

,Show ID,Show Type,title,Director,Cast,Production Country,Date Added,Release Year,Age Rating,Duration,Genres,Description,Platform
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10252,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom","June 4, 2021",2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...,Disney+
10253,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada","April 2, 2021",2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...,Disney+
10254,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States","December 18, 2020",2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum...",Disney+
10255,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...,Disney+
10256,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.,Disney+

In [7]:
df.count()

Show ID               10257
Show Type             10257
title                 10257
Director               7150
Cast                   9242
Production Country     9207
Date Added            10244
Release Year          10257
Age Rating            10250
Duration              10254
Genres                10257
Description           10257
Platform              10257
dtype: int64

# Remove Rows with NaN Value on Column

In [8]:
# Drop rows dengan nilai "date_added", "Age Rating", & "Duration" yang NaN
df.dropna(subset = ["Date Added"], inplace=True)
df.dropna(subset = ["Age Rating"], inplace=True)
df.dropna(subset = ["Duration"], inplace=True)
df.reset_index(drop=True, inplace=True)

df.count()

Show ID               10234
Show Type             10234
title                 10234
Director               7145
Cast                   9220
Production Country     9189
Date Added            10234
Release Year          10234
Age Rating            10234
Duration              10234
Genres                10234
Description           10234
Platform              10234
dtype: int64


# Fill Column [Production Country] NaN Value with "No Data"

In [9]:
# Ubah semua value NaN menjadi "No Data", agar bisa di pre-processing
df['Director'].replace(np.nan, "No Data", inplace=True)
df['Cast'].replace(np.nan, "No Data", inplace=True)
df['Production Country'].replace(np.nan, "No Data", inplace=True)

df.count()

Show ID               10234
Show Type             10234
title                 10234
Director              10234
Cast                  10234
Production Country    10234
Date Added            10234
Release Year          10234
Age Rating            10234
Duration              10234
Genres                10234
Description           10234
Platform              10234
dtype: int64

# Transform Column [Production Country]

In [10]:
# Ambil value kolom "country" diubah ke list
country_list = df['Production Country'].to_list()
len(country_list)

# Ubah setiap value country_list menjadi 1 negara saja (Negara Paling Pertama)
for x in range(len(country_list)):
  country_list[x] = country_list[x].split(',')[0]
country_list

# Replace kolom "country" dengan "country_list" yang sudah dibuat
df['Production Country'] = country_list

df

,Show ID,Show Type,title,Director,Cast,Production Country,Date Added,Release Year,Age Rating,Duration,Genres,Description,Platform
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,No Data,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,s2,TV Show,Blood & Water,No Data,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",No Data,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix
3,s4,TV Show,Jailbirds New Orleans,No Data,No Data,No Data,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix
4,s5,TV Show,Kota Factory,No Data,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10229,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...",United States,"June 4, 2021",2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...,Disney+
10230,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...",United States,"April 2, 2021",2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...,Disney+
10231,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...",United Kingdom,"December 18, 2020",2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum...",Disney+
10232,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...",United Kingdom,"September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...,Disney+
10233,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.,Disney+

# Convert Column [Date Added] to Date

In [11]:
# Convert "date_added" variable type to datetime
import datetime
df['Date Added'] = pd.to_datetime(df['Date Added'], dayfirst=True)

df

,Show ID,Show Type,title,Director,Cast,Production Country,Date Added,Release Year,Age Rating,Duration,Genres,Description,Platform
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,No Data,United States,2021-09-25,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,s2,TV Show,Blood & Water,No Data,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",No Data,2021-09-24,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix
3,s4,TV Show,Jailbirds New Orleans,No Data,No Data,No Data,2021-09-24,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix
4,s5,TV Show,Kota Factory,No Data,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10229,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...",United States,2021-06-04,2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...,Disney+
10230,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...",United States,2021-04-02,2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...,Disney+
10231,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...",United Kingdom,2020-12-18,2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum...",Disney+
10232,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...",United Kingdom,2020-09-18,2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...,Disney+
10233,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,2020-04-01,2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.,Disney+

# Convert Column [Release Year] to Date

In [12]:
# Ambil value kolom "release_year" diubah ke list
date_list = df['Release Year'].to_list()
len(date_list)

# Ubah semua value "release_year" menjadi 30 Juni + "release_year"
for x in range(len(date_list)):
  date_list[x] = 'June 30, ' + str(date_list[x]).split('-')[0]
date_list

# Replace kolom "release_year" dengan "date_list" yang telah dibuat
df['Release Year'] = date_list

# Convert "release_year" variable type to datetime
df['Release Year'] = pd.to_datetime(df['Release Year'], dayfirst=True)

df

,Show ID,Show Type,title,Director,Cast,Production Country,Date Added,Release Year,Age Rating,Duration,Genres,Description,Platform
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,No Data,United States,2021-09-25,2020-06-30,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix
1,s2,TV Show,Blood & Water,No Data,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021-06-30,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",No Data,2021-09-24,2021-06-30,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix
3,s4,TV Show,Jailbirds New Orleans,No Data,No Data,No Data,2021-09-24,2021-06-30,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix
4,s5,TV Show,Kota Factory,No Data,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021-06-30,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10229,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...",United States,2021-06-04,2009-06-30,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...,Disney+
10230,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...",United States,2021-04-02,2009-06-30,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...,Disney+
10231,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...",United Kingdom,2020-12-18,2016-06-30,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum...",Disney+
10232,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...",United Kingdom,2020-09-18,2003-06-30,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...,Disney+
10233,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,2020-04-01,2012-06-30,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.,Disney+

# Add Column [Up to Date]

In [13]:
# Membuat list up_to_date
up_to_date = []

# Mengisi value dengan "Up to Date" jika "date_added"-"release_year" < 365
for x in range(len(df['Date Added'])):
  sum_date = df['Date Added'][x]-df['Release Year'][x]
  sum_date = str(sum_date).split(' ')[0]
  if int(sum_date) <= 365:
    up_to_date.append(True)
  else:
    up_to_date.append(False)

# Menambahkan kolom "Up to Date" dengan value sesuai dengan list up_to_date
df['Up to Date (Added Less than a Year from Release Year)'] = up_to_date
df

,Show ID,Show Type,title,Director,Cast,Production Country,Date Added,Release Year,Age Rating,Duration,Genres,Description,Platform,Up to Date (Added Less than a Year from Release Year)
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,No Data,United States,2021-09-25,2020-06-30,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix,False
1,s2,TV Show,Blood & Water,No Data,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021-06-30,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix,True
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",No Data,2021-09-24,2021-06-30,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix,True
3,s4,TV Show,Jailbirds New Orleans,No Data,No Data,No Data,2021-09-24,2021-06-30,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix,True
4,s5,TV Show,Kota Factory,No Data,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021-06-30,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10229,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...",United States,2021-06-04,2009-06-30,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...,Disney+,False
10230,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...",United States,2021-04-02,2009-06-30,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...,Disney+,False
10231,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...",United Kingdom,2020-12-18,2016-06-30,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum...",Disney+,False
10232,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...",United Kingdom,2020-09-18,2003-06-30,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...,Disney+,False
10233,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,2020-04-01,2012-06-30,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.,Disney+,False

# Data Discretization on Column [Age Rating]

In [14]:
warnings.filterwarnings("ignore")
for x in range(len(df['Age Rating'])):
    if df['Age Rating'][x] == 'G' or df['Age Rating'][x] == 'TV-G' or df['Age Rating'][x] == 'UR' or df['Age Rating'][x] == 'NR' or df['Age Rating'][x] == '66 min' or df['Age Rating'][x] == '74 min' or df['Age Rating'][x] == '84 min':
        df['Age Rating'][x] = 'All Age'
    elif df['Age Rating'][x] == 'TV-Y' or df['Age Rating'][x] == 'TV-Y7' or df['Age Rating'][x] == 'TV-Y7-FV':
        df['Age Rating'][x] = 'Kids (<12 Years Old)'
    elif df['Age Rating'][x] == 'PG' or df['Age Rating'][x] == 'PG-13' or df['Age Rating'][x] == 'TV-PG' or df['Age Rating'][x] == 'TV-14' or df['Age Rating'][x] == 'NC-17':
        df['Age Rating'][x] = 'Teenagers (13-18 Years Old)'
    elif df['Age Rating'][x] == 'NC' or df['Age Rating'][x] == 'R' or df['Age Rating'][x] == 'TV-MA':
        df['Age Rating'][x] = 'Adults (>18 Years Old)'
df

,Show ID,Show Type,title,Director,Cast,Production Country,Date Added,Release Year,Age Rating,Duration,Genres,Description,Platform,Up to Date (Added Less than a Year from Release Year)
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,No Data,United States,2021-09-25,2020-06-30,Teenagers (13-18 Years Old),90 min,Documentaries,"As her father nears the end of his life, filmm...",Netflix,False
1,s2,TV Show,Blood & Water,No Data,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021-06-30,Adults (>18 Years Old),2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t...",Netflix,True
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",No Data,2021-09-24,2021-06-30,Adults (>18 Years Old),1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...,Netflix,True
3,s4,TV Show,Jailbirds New Orleans,No Data,No Data,No Data,2021-09-24,2021-06-30,Adults (>18 Years Old),1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo...",Netflix,True
4,s5,TV Show,Kota Factory,No Data,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021-06-30,Adults (>18 Years Old),2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...,Netflix,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10229,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...",United States,2021-06-04,2009-06-30,Teenagers (13-18 Years Old),108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...,Disney+,False
10230,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...",United States,2021-04-02,2009-06-30,Teenagers (13-18 Years Old),106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...,Disney+,False
10231,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...",United Kingdom,2020-12-18,2016-06-30,Teenagers (13-18 Years Old),107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum...",Disney+,False
10232,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...",United Kingdom,2020-09-18,2003-06-30,Teenagers (13-18 Years Old),112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...,Disney+,False
10233,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,2020-04-01,2012-06-30,All Age,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.,Disney+,False

# Splitting Column [Genres] from Multivalue to Columns

In [15]:
# Splitting Multivalue column (genre / listed_in)
df_genre_ = df['Genres'].str.split(",", expand=True)

df_genre_

                            0                        1                       2
0               Documentaries                     None                    None
1      International TV Shows                TV Dramas            TV Mysteries
2              Crime TV Shows   International TV Shows   TV Action & Adventure
3                  Docuseries               Reality TV                    None
4      International TV Shows        Romantic TV Shows             TV Comedies
...                       ...                      ...                     ...
10229        Action-Adventure                   Family         Science Fiction
10230        Action-Adventure                   Comedy                  Family
10231            Biographical                   Comedy                   Drama
10232                   Buddy                   Comedy           Coming of Age
10233        Action-Adventure         Animals & Nature               Animation

[10234 rows x 3 columns]

# Data Discretization Column [Genres]

In [16]:
for column in range(df_genre_.shape[1]):
    for i in range(df_genre_.shape[0]):
        x = df_genre_.loc[i][column]
        if x is not None: x = x.strip()
            
        if x == 'Comedies' or x == 'TV Comedies' or x == 'Stand-Up Comedy & Talk Shows' or x == 'Stand-Up Comedy' or x == 'Parody':
            df_genre_.loc[i][column] = 'Comedy'
        elif x == 'Anime Features' or x == 'Anime Series':
            df_genre_.loc[i][column] = 'Anime'
        elif x == 'Romantic Movies' or x == 'Romantic TV Shows' or x == 'Romantic Comedy':
            df_genre_.loc[i][column] = 'Romance'
        elif x == 'Documentaries' or x == 'Docuseries' or x == 'Biographical':
            df_genre_.loc[i][column] = 'Documentary'
        elif x == 'Sports Movies':
            df_genre_.loc[i][column] = 'Sports'
        elif x == "Kids' TV":
            df_genre_.loc[i][column] = 'Kids'
        elif x == 'Children & Family Movies' or x == 'Buddy':
            df_genre_.loc[i][column] = 'Family'
        elif x == 'TV Action & Adventure' or x == 'Action & Adventure':
            df_genre_.loc[i][column] = 'Action-Adventure'
        elif x == 'Dramas' or x == 'TV Dramas' or x == 'Soap Opera / Melodrama':
            df_genre_.loc[i][column] = 'Drama'
        elif x == 'Crime TV Shows' or x == 'Crime' or x == 'Spy/Espionage' or x == 'Police/Cop':
            df_genre_.loc[i][column] = 'Crime'
        elif x == 'TV Thrillers' or x == 'Thrillers' or x == 'TV Horror' or x == 'Horror Movies' or x == 'Thriller':
            df_genre_.loc[i][column] = 'Thriller & Horror'
        elif x == 'Music & Musicals' or x == 'Musical' or x == 'Concert Film':
            df_genre_.loc[i][column] = 'Music'
        elif x == 'Series' or x == 'TV Shows' or x == 'International TV Shows' or x == 'Korean TV Shows' or x == 'Spanish-Language TV Shows' or x == 'British TV Shows' or x == 'Western' or x == 'Teen TV Shows':
            df_genre_.loc[i][column] = None
        elif x == 'Independent Movies' or x == 'International Movies' or x == 'Classic Movies' or x == 'Movies':
            df_genre_.loc[i][column] = None
        elif x == 'Lifestyle' or x == 'Reality' or x == 'Travel' or x == 'Faith & Spirituality':
            df_genre_.loc[i][column] = 'Lifestyle'
        elif x == 'Dance' or x == 'Game Show / Competition' or x == 'Talk Show' or x == 'Anthology' or x == 'Reality TV' or x == 'Variety':
            df_genre_.loc[i][column] = 'Entertainment'
        elif x == 'Cult Movies' or x == 'Classic & Cult TV':
            df_genre_.loc[i][column] = 'Cult'
        elif x == 'Mystery' or x == 'TV Mysteries':
            df_genre_.loc[i][column] = 'Mystery'
        elif x == 'Disaster' or x == 'Animals & Nature' or x == 'Survival' or x == 'Science & Nature TV':
            df_genre_.loc[i][column] = 'Nature'
        elif x == 'Fantasy' or x == 'Coming of Age' or x == 'Superhero' or  x == 'Sci-Fi & Fantasy' or x == 'TV Sci-Fi & Fantasy':
            df_genre_.loc[i][column] = 'Science Fiction'

df_genre_

                      0              1                 2
0           Documentary           None              None
1                  None          Drama           Mystery
2                 Crime           None  Action-Adventure
3           Documentary  Entertainment              None
4                  None        Romance            Comedy
...                 ...            ...               ...
10229  Action-Adventure         Family   Science Fiction
10230  Action-Adventure         Comedy            Family
10231       Documentary         Comedy             Drama
10232            Family         Comedy   Science Fiction
10233  Action-Adventure         Nature         Animation

[10234 rows x 3 columns]

# Merge the Columns Back and Replace Column [Genres] with New Genres

In [17]:
new_genre_list = []
for row in range(df_genre_.shape[0]):
    temp = ''
    for x in range(df_genre_.shape[1]):
        if df_genre_.loc[row][x] is not None:
            if temp != '':
                temp += ', '
            temp += df_genre_.loc[row][x]

    new_genre_list.append(temp.strip())
    
df['Genres'] = new_genre_list
df

,Show ID,Show Type,title,Director,Cast,Production Country,Date Added,Release Year,Age Rating,Duration,Genres,Description,Platform,Up to Date (Added Less than a Year from Release Year)
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,No Data,United States,2021-09-25,2020-06-30,Teenagers (13-18 Years Old),90 min,Documentary,"As her father nears the end of his life, filmm...",Netflix,False
1,s2,TV Show,Blood & Water,No Data,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021-09-24,2021-06-30,Adults (>18 Years Old),2 Seasons,"Drama, Mystery","After crossing paths at a party, a Cape Town t...",Netflix,True
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",No Data,2021-09-24,2021-06-30,Adults (>18 Years Old),1 Season,"Crime, Action-Adventure",To protect his family from a powerful drug lor...,Netflix,True
3,s4,TV Show,Jailbirds New Orleans,No Data,No Data,No Data,2021-09-24,2021-06-30,Adults (>18 Years Old),1 Season,"Documentary, Entertainment","Feuds, flirtations and toilet talk go down amo...",Netflix,True
4,s5,TV Show,Kota Factory,No Data,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021-09-24,2021-06-30,Adults (>18 Years Old),2 Seasons,"Romance, Comedy",In a city of coaching centers known to train I...,Netflix,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10229,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...",United States,2021-06-04,2009-06-30,Teenagers (13-18 Years Old),108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...,Disney+,False
10230,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...",United States,2021-04-02,2009-06-30,Teenagers (13-18 Years Old),106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...,Disney+,False
10231,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...",United Kingdom,2020-12-18,2016-06-30,Teenagers (13-18 Years Old),107 min,"Documentary, Comedy, Drama","True story of Eddie Edwards, a British ski-jum...",Disney+,False
10232,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...",United Kingdom,2020-09-18,2003-06-30,Teenagers (13-18 Years Old),112 min,"Family, Comedy, Science Fiction",Despite the wishes of their traditional famili...,Disney+,False
10233,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,2020-04-01,2012-06-30,All Age,2 min,"Action-Adventure, Nature, Animation",View one of Sparky's favorite home movies.,Disney+,False

# Save Dataset Genre to CSV

In [ ]:
# df.to_csv(r'Dataset.csv')

# DB

In [ ]:
df=pd.read_csv("Dataset.csv")

In [31]:
df.rename(columns = {'Show ID':'ShowID', 'Show Type': 'ShowType', 'title': 'Title', 'Production Country': 'ProductionCountry', 'Date Added': 'DateAdded', 'Release Year': 'ReleaseYear', 'Age Rating': 'AgeRating'}, inplace = True)

In [32]:
# re-index
df = df.reset_index()
df.index = df.index + 1
df['ShowID'] = 's'+df['index'].astype(str)

In [ ]:
df = df[['ShowID', 'ShowType', 'Title', 'Director', 'Cast', 'ProductionCountry', 'DateAdded',
                   'ReleaseYear', 'AgeRating', 'Duration', 'Genres', 'Description', 'Platform']]
df

In [34]:
# buat table country & rating
country = pd.DataFrame()
country['ProductionCountry'] = df.ProductionCountry.unique()
rating = pd.DataFrame()
rating['AgeRating'] = df.AgeRating.unique()

In [35]:
from sklearn import preprocessing
pc = preprocessing.LabelEncoder()
pc.fit(df['ProductionCountry'])
country['CountryID'] = pc.fit_transform(country['ProductionCountry'])
df['ProductionCountryID'] = pc.fit_transform(df['ProductionCountry'])
country['CountryID'] = country['CountryID'] + 1
country = country.sort_values('CountryID')
country = country[['CountryID', 'ProductionCountry']]
df['ProductionCountryID'] = df['ProductionCountryID'] + 1

In [36]:
ar = preprocessing.LabelEncoder()
ar.fit(df['AgeRating'])
rating['RatingID'] = ar.fit_transform(rating['AgeRating'])
df['AgeRatingID'] = ar.fit_transform(df['AgeRating'])
df['AgeRatingID'] = df['AgeRatingID'] + 1
rating['RatingID'] =rating['RatingID']  + 1
rating = rating.sort_values('RatingID')
rating = rating[['RatingID', 'AgeRating']]

In [37]:
movies = df[['ShowID', 'ShowType', 'Title', 'DateAdded', 'ReleaseYear', 'Duration', 'Description', 'Platform', 'ProductionCountryID', 'AgeRatingID']]

In [ ]:
# mysql
movies.to_csv('movies.csv', index=False, header=False)
country.to_csv('country.csv', index=False, header=False)
rating.to_csv('rating.csv', index=False, header=False)

In [38]:
coba = df.copy()

In [39]:
# mongo
import json

def splitt(sentiment):
         return [x.strip() for x in sentiment.split(",")]

b = []
for i in range(len(coba)):
    x={}
    x['ShowID']=coba.iloc[i]['ShowID']
    x['Director']= splitt(coba.iloc[i]["Director"])
    x['Cast']= splitt(coba.iloc[i]["Cast"])
    x['Genres']= splitt(coba.iloc[i]["Genres"])
    b.append(x)

with open('mongoo.json', 'w') as f:
    json.dump(b, f, indent = 2)